nav.navbar.navbar-default(role='navigation')
	div.container
		div.navbar-header
			a.navbar-brand.brand MySQL Database
		div.navbar-collapse.collapse
			if 0
				ul.nav.navbar-nav
					li
						a(href='/') Home

			ul.nav.navbar-nav.navbar-right
				li
					a 
						button.btn.btn-xs.btn-danger(ng-click="terminate()") Logout

div#customModal.modal.fade
	div.modal-dialog
		div.modal-content
			div.modal-header
				h4.modal-title Title
			div.modal-body
			div.modal-footer

