doctype html
html(lang="en")
  head
    include inc/meta.jade
  body(ng-app='app', ng-controller='mysql')
    include inc/navbar.jade

    div.container-fluid
      div.row
        div.col-lg-2.connections
          button.btn.btn-success.col-lg-12(title="New Connection", ng-click="newConnection()") [ + ] New Connection
          br
          br
          div.text-center(ng-if="!connections.length")
            h5 No Database Connections

          div.row(ng-if="connections.length")
            div.col-lg-10(ng-repeat="connection in connections")
              h3(ng-click='select($index)', class="{{selected == $index ? 'text-success' : ''}}") {{connection.name}}
              div.col-lg-offset-1(ng-repeat="db in connection.databases")
                h5(ng-click="selectDB(db)", class="{{db.Database == database ? 'text-success' : ''}}") {{db.Database}}
                div.col-lg-offset-2(ng-repeat="table in db.tables")
                  h6(ng-repeat="tableName in table", ng-click="selectTable(tableName)") {{tableName}}
            

        div.col-lg-10(ng-if="connections.length")
          div.row
            div.col-lg-12
              button(ng-repeat="thisTab in tabs", class="{{tab == thisTab ? 'btn-primary' : ''}} btn btn-xs", ng-click="selectTab(thisTab)", ng-right-click="closeTab(thisTab)") {{thisTab.name}}
              button.btn.btn-xs.btn-success(ng-click="newTab()") [ + ]
              textarea.col-lg-12(ng-model="tab.sql")
              br
              small.text-muted F9 Run Query
          hr
          div.row
            div.col.lg-12(ng-if="tab.data.length")
              h5 {{tab.data.length}} Results
              table.table.table-hover
                thead
                  th(ng-repeat="(ind, nuh) in tab.data[0]") {{ind}}
                tbody
                  tr(ng-repeat="row in tab.data")
                    td(ng-repeat="column in row") {{column}}

            div.col.lg-12(ng-if="!tab.data.length")
              h4.text-muted No Data





    include inc/footer.jade
